body{
    background-color: rgb(113, 7, 7);
}
.square{
    height: 250px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(204, 16, 16);
}
.square p{
    text-align: center;
    font: size 30px; 
    color: blanchedalmond;
}
#square2{
    background-color:rgb(2, 2, 31)
}